SECRET_KEY=your-django-secret-key
DEBUG=False
EC2_PUBLIC_IP=12.34.56.78

DB_NAME=postgres
DB_USER=master_user
DB_PASSWORD=your_rds_password
DB_HOST=your-rds-endpoint.xxxx.us-east-1.rds.amazonaws.com
DB_PORT=5432

AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_STORAGE_BUCKET_NAME=your-s3-bucket-name
AWS_S3_REGION_NAME=us-east-1
